@charset "UTF-8";
/*------------------------------------*  #MAIN
\*------------------------------------*/
/*------------------------------------*  #BOX-SIZING
\*------------------------------------*/
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*------------------------------------*  #RESET
\*------------------------------------*/
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Remove spaces between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*  #SHARED
\*------------------------------------*/
/**
 * Shared declarations for certain elements.
 */
/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 24px; }

ul, ol,
dd {
  margin-left: 24px; }

/*------------------------------------*  #PAGE
\*------------------------------------*/
/**
 * Page-level styling (e.g. HTML and BODY elements).
 */
html {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333; }

/*------------------------------------*  #HEADINGS
\*------------------------------------*/
/**
 * Simple default styles for headings 1 through 6.
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
  font-family: "Playfair Display", serif;
  position: relative;
  text-align: center; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

/*------------------------------------*  #LINKS
\*------------------------------------*/
/**
 * Default styles for simple hyperlinks.
 */
a {
  color: inherit;
  font-weight: 700;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

/*------------------------------------*  #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
img[width],
img[height] {
  /* [1] */
  max-width: none; }

/*------------------------------------*  #LIST-BARE
\*------------------------------------*/
.o-list-bare {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

/*------------------------------------*  #LIST-INLINE
\*------------------------------------*/
.o-list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }

.o-list-inline__item {
  display: inline-block; }

/*------------------------------------*  #WRAPPER
\*------------------------------------*/
.o-wrapper {
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }

.o-wrapper--header {
  max-width: 106em;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }

.o-wrapper--main {
  max-width: 45em;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto; }

/*------------------------------------*  #LOGO
\*------------------------------------*/
.c-logo {
  width: 120px;
  height: 120px; }
  @media screen and (min-width: 50em) {
    .c-logo {
      width: 180px;
      height: 180px; } }
  @media screen and (min-width: 100em) {
    .c-logo {
      width: 240px;
      height: 240px; } }

/*------------------------------------*  #ICON
\*------------------------------------*/
.c-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px; }
  .c-icon__svg {
    width: inherit;
    height: inherit;
    fill: #fff; }

/*------------------------------------*  #DROPDOWN
\*------------------------------------*/
.c-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 30em;
  margin-bottom: 24px;
  color: #002747;
  text-align: left;
  text-decoration: none;
  line-height: 24px; }

.c-dropdown--reverse {
  color: #fff; }
  .c-dropdown--reverse .c-dropdown__label:after {
    border-top-color: #fff; }
  .c-dropdown--reverse .c-dropdown__list {
    background-color: #002747; }
  .c-dropdown--reverse .c-dropdown__link {
    background-color: #002747; }
    .c-dropdown--reverse .c-dropdown__link:hover {
      background-color: #003561; }

.c-dropdown__label {
  position: relative;
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  text-decoration: none; }
  .c-dropdown__label.c-dropdown__label {
    padding-left: 24px;
    padding-right: 55.2px; }
  .c-dropdown__label.is-active:after {
    transform: scaleY(-1); }
  .c-dropdown__label:after {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center .1em;
    content: '';
    width: 0;
    height: 0;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: 0.5em solid #002747; }

.c-dropdown__list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  width: inherit;
  max-width: inherit;
  padding: 12px 0;
  border-width: 2px;
  border-top-width: 0;
  border-style: solid;
  background-color: #fff;
  opacity: 0;
  pointer-events: none; }
  .c-dropdown__list.is-active {
    opacity: 1;
    pointer-events: auto; }

.c-dropdown__link {
  display: block;
  padding: 12px 24px;
  font-size: 0.875em;
  font-weight: 400;
  text-decoration: none;
  background-color: #fff; }
  @media screen and (min-width: 25em) {
    .c-dropdown__link {
      font-size: calc(0.875em + 0.0625 * (100vw - 25em) / 75); } }
  @media screen and (min-width: 100em) {
    .c-dropdown__link {
      font-size: 0.9375em; } }
  .c-dropdown__link:hover {
    background-color: #f3f3f3; }
  .c-dropdown__link, .c-dropdown__link:hover, .c-dropdown__link:active, .c-dropdown__link:focus {
    text-decoration: none; }

/*------------------------------------*  #MASTHEAD
\*------------------------------------*/
.c-masthead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #002747;
  background-image: url("/assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 24px;
  height: 70vh; }

.c-masthead__text {
  padding: 24px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5); }

.c-masthead__title {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  letter-spacing: .1em;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.7); }
  @media screen and (min-width: 25em) {
    .c-masthead__title {
      font-size: calc(1.5em + 1.125 * (100vw - 25em) / 75); } }
  @media screen and (min-width: 100em) {
    .c-masthead__title {
      font-size: 2.625em; } }

/*------------------------------------*  #NAV-PRIMARY
\*------------------------------------*/
.c-nav-primary {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 1;
  background-color: #002747;
  flex-direction: column;
  justify-content: center;
  transition: transform .4s ease-out; }
  .c-nav-primary.is-active {
    transform: translateX(0); }
  @media screen and (min-width: 50em) {
    .c-nav-primary {
      position: static;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: flex-end;
      transform: translateX(0);
      width: initial;
      height: initial;
      padding-left: 0;
      float: right;
      text-align: center;
      padding-left: 204px;
      text-align: right; } }
  @media screen and (min-width: 100em) {
    .c-nav-primary {
      padding-left: 264px; } }

.c-nav-primary__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 50em) {
    .c-nav-primary__list {
      display: initial; } }

.c-nav-primary__item {
  width: 100%;
  margin-bottom: 24px; }
  @media screen and (min-width: 50em) {
    .c-nav-primary__item {
      width: auto; }
      .c-nav-primary__item:first-child .c-nav-primary__link {
        padding-left: 0; } }

.c-nav-primary__link {
  display: inline-block;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.015625em;
  text-transform: uppercase; }
  @media screen and (min-width: 25em) {
    .c-nav-primary__link {
      font-size: calc(0.875em + 0.0625 * (100vw - 25em) / 75); } }
  @media screen and (min-width: 100em) {
    .c-nav-primary__link {
      font-size: 0.9375em; } }
  .c-nav-primary__link.is-active {
    text-decoration: underline;
    cursor: default; }

/*------------------------------------*  #NAV-SOCIAL
\*------------------------------------*/
.c-nav-social {
  float: right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 24px;
  padding-left: 0;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .c-nav-social {
      align-self: flex-end; } }

.c-nav-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 50em) {
    .c-nav-social__list {
      display: initial; } }

.c-nav-social__item {
  display: block; }
  @media screen and (min-width: 50em) {
    .c-nav-social__item {
      width: auto;
      display: inline-block; }
      .c-nav-social__item:first-child .c-nav-primary__link {
        padding-left: 0; } }

.c-nav-social__link {
  display: inline-block;
  padding-right: 12px;
  padding-left: 12px;
  font-size: .9375em;
  font-weight: 500;
  text-transform: uppercase; }
  .c-nav-social__link.is-active {
    text-decoration: underline;
    cursor: default; }

/*------------------------------------*  #PAGE-HEAD
\*------------------------------------*/
.c-page-head {
  padding-top: 24px;
  background-color: #002747;
  color: #fff;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1); }
  .c-page-head:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 50em) {
    .c-page-head {
      text-align: right; } }

.c-page-head__logo {
  position: static;
  z-index: 1;
  float: none;
  display: block;
  margin-right: auto;
  margin-bottom: 24px; }
  @media screen and (min-width: 50em) {
    .c-page-head__logo {
      position: absolute;
      top: 0;
      line-height: 0;
      float: left;
      margin-right: 24px; } }

.c-page-head__dropdown-container {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 50em) {
    .c-page-head__dropdown-container .c-dropdown {
      margin-left: auto; } }

/*------------------------------------*  #BAND
\*------------------------------------*/
.c-band {
  padding-top: 24px;
  padding-bottom: 24px; }

/*------------------------------------*  #BLOCK HEADING
\*------------------------------------*/
.c-block-heading:after {
  content: '';
  width: 110px;
  height: 1px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bf9a5c; }

/*------------------------------------*  #NAV TOGGLE
\*------------------------------------*/
.c-nav-toggle {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 24px;
  vertical-align: middle;
  transition: opacity .1s ease-in-out; }
  .c-nav-toggle.is-inactive {
    opacity: 0; }
  .c-nav-toggle::before, .c-nav-toggle::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    transform-origin: right; }
  .c-nav-toggle:before {
    transform: translateY(-10px); }
  .c-nav-toggle:after {
    transform: translateY(10px); }
  .c-nav-toggle span:not(.u-sr-only) {
    position: relative;
    width: 100%;
    height: 4px;
    background: #fff; }
  @media screen and (min-width: 50em) {
    .c-nav-toggle {
      display: none; } }

.c-nav-toggle--close {
  position: fixed;
  top: 24px;
  right: 24px;
  margin: 0; }
  .c-nav-toggle--close::before, .c-nav-toggle--close::after {
    transform-origin: center;
    position: absolute; }
  .c-nav-toggle--close:before {
    transform: translateY(0) rotate(45deg); }
  .c-nav-toggle--close:after {
    transform: translateY(0) rotate(-45deg); }
  .c-nav-toggle--close span:not(.u-sr-only) {
    opacity: 0;
    position: relative; }

/*------------------------------------*  #HIDE
\*------------------------------------*/
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
