/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

/**
 * Simple default styles for headings 1 through 6.
 */

$font-size-h1:  36px !default;
$font-size-h2:  28px !default;
$font-size-h3:  24px !default;
$font-size-h4:  20px !default;
$font-size-h5:  18px !default;
$font-size-h6:  16px !default;

h1, h2, h3, h4, h5, h6 {
    @include font-weight(bold);
}

h1 {
    @include font-size($font-size-h1);
    @include font-family(serif);
    position: relative;
    text-align: center;
}

h2 {
    @include font-size($font-size-h2);
}

h3 {
    @include font-size($font-size-h3);
}

h4 {
    @include font-size($font-size-h4);
}

h5 {
    @include font-size($font-size-h5);
}

h6 {
    @include font-size($font-size-h6);
}
