/*------------------------------------*\
  #LINKS
\*------------------------------------*/

/**
 * Default styles for simple hyperlinks.
 */

a {
    color: inherit;
    @include font-weight(bold);
    text-decoration: none;

    @include hocus() {
        text-decoration: underline;
    }

}
