/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

$header-max-width: 106em;

.o-wrapper {
            padding-right: $global-spacing-unit;
            padding-left: $global-spacing-unit;
            margin-right: auto;
            margin-left: auto;
        }

        .o-wrapper--header {
            max-width: $header-max-width;
            padding-right: $global-spacing-unit;
            padding-left: $global-spacing-unit;
            margin-right: auto;
            margin-left: auto;
        }

        .o-wrapper--main {
            max-width: 45em;
            padding-right: $global-spacing-unit;
            padding-left: $global-spacing-unit;
            margin-right: auto;
            margin-left: auto;
        }
