/*------------------------------------*\
  #NAV TOGGLE
\*------------------------------------*/

.c-nav-toggle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 2 * $global-font-size;
    height: 2 * $global-font-size;
    margin-top: $global-font-size * .625;
    margin-left: $global-spacing-unit;
    vertical-align: middle;

    transition: opacity .1s ease-in-out;

    &.is-inactive {
        opacity: 0;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: $global-font-size / 4;
        background: #fff;
        transform-origin: right;
    }

    &:before {
        transform: translateY(-10px);
    }

    &:after {
        transform: translateY(10px);
    }

    span:not(.u-sr-only) {
        position: relative;
        width: 100%;
        height: $global-font-size / 4;
        background: #fff;
    }


    @media screen and (min-width: 50em) {
        display: none;
    }
}

.c-nav-toggle--close {
    position: fixed;
    top: $global-spacing-unit;
    right: $global-spacing-unit;
    margin: 0;

    &::before,
    &::after {
        transform-origin: center;
        position: absolute;
    }

    &:before {
        transform: translateY(0) rotate(45deg);
    }

    &:after {
        transform: translateY(0) rotate(-45deg);
    }

    span:not(.u-sr-only) {
        opacity: 0;
        position: relative;
    }
}
