/*------------------------------------*\
  #PAGE-HEAD
\*------------------------------------*/

.c-page-head {
    @include clearfix();
    padding-top: $global-spacing-unit;
    // padding-bottom: $global-spacing-unit;
    background-color: $color-brand-primary;
    color: $color-white;
    text-align: center;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 50em) {
        text-align: right;
    }
}


    .c-page-head__logo {
        position: static;
        z-index: 1;
        float: none;
        display: block;
        margin-right: auto;
        margin-bottom: $global-spacing-unit;

        @media screen and (min-width: 50em) {
            position: absolute;
            top: 0;
            line-height: 0;
            float: left;
            margin-right: $global-spacing-unit;
        }
    }

    .c-page-head__dropdown-container {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 50em) {

            .c-dropdown {
                margin-left: auto;
            }
        }
    }

    .c-page-head__dropdown {
    }
