/*------------------------------------*\
  #NAV-SOCIAL
\*------------------------------------*/

.c-nav-social {
    float: right;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: $global-spacing-unit;
    padding-left: 0;
    text-align: center;

    @media screen and (min-width: 50em) {
        align-self: flex-end;
    }
}

    .c-nav-social__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 50em) {
            display: initial;
        }
    }

    .c-nav-social__item {
        display: block;

        @media screen and (min-width: 50em) {
            width: auto;
            display: inline-block;

            &:first-child {

                .c-nav-primary__link {
                    padding-left: 0;
                }
            }
        }
    }

    .c-nav-social__link {
        display: inline-block;
        padding-right: $global-spacing-unit / 2;
        padding-left:  $global-spacing-unit / 2;
        font-size: .9375em;
        font-weight: 500;
        text-transform: uppercase;

        &.is-active {
            text-decoration: underline;
            cursor: default;
        }
    }
