/*------------------------------------*\
  #DROPDOWN
\*------------------------------------*/

.c-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 30em;
    margin-bottom: $global-spacing-unit;
    color: $color-brand-primary;
    text-align: left;
    text-decoration: none;
    line-height: $global-line-height;
}

    .c-dropdown--reverse {
        color: #fff;

        .c-dropdown__label {

            &:after {
                border-top-color: #fff;
            }
        }

        .c-dropdown__list {
            background-color: $color-brand-primary;
        }

        .c-dropdown__link {
            background-color: $color-brand-primary;

            &:hover {
                background-color: $color-brand-primary-highlight;
            }
        }
    }

    .c-dropdown__label {
        position: relative;
        display: block;
        border-width: 2px;
        border-style: solid;
        border-color: inherit;
        text-decoration: none;

        // Lord, forgive me
        &.c-dropdown__label {
            padding-left:  $global-spacing-unit;
            padding-right: $global-spacing-unit * 2.3;
        }

        &.is-active {

            &:after {
                transform: scaleY(-1);
            }
        }

        &:after {
            position: absolute;
            right: $global-spacing-unit;
            top: 50%;
            transform: translateY(-50%);
            transform-origin: center .1em;
            content: '';
            width: 0;
            height: 0;
            border-left: .4em solid transparent;
            border-right: .4em solid transparent;

            border-top: .5em solid $color-brand-primary;
        }
    }

    .c-dropdown__list {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        width: inherit;
        max-width: inherit;
        padding: ($global-spacing-unit / 2) 0;
        border-width: 2px;
        border-top-width: 0;
        border-style: solid;
        background-color: #fff;
        opacity: 0;
        pointer-events: none;

        &.is-active {
            opacity: 1;
            pointer-events: auto;
        }
    }

        .c-dropdown__item {

        }

        .c-dropdown__link {
            display: block;
            padding: ($global-spacing-unit / 2) $global-spacing-unit;
            @include fluid-type(font-size, 25em, 100em, .875em, .9375em);
            @include font-weight(normal);
            text-decoration: none;
            background-color: #fff;

            &:hover {
                background-color: #f3f3f3;
            }

            &,
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
