/*------------------------------------*\
  #ICON
\*------------------------------------*/

.c-icon {
    display: inline-block;
    vertical-align: middle;
    width: $global-spacing-unit;
    height: $global-spacing-unit;

    &__svg {
        width: inherit;
        height: inherit;
        fill: $color-white;
    }
}
