/*------------------------------------*\
  #MASTHEAD
\*------------------------------------*/

.c-masthead {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-brand-primary;
    background-image: url('/assets/img/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: $global-spacing-unit;
    height: 70vh;
}

    .c-masthead__text {
        padding: $global-spacing-unit;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    }

        .c-masthead__title {
            margin-bottom: 0;
            @include font-family(serif);
            @include fluid-type(font-size, 25em, 100em, 1.5em, 2.625em);
            font-weight: 600;
            text-align: center;
            letter-spacing: .1em;
            text-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
        }
