/*------------------------------------*\
  #BLOCK HEADING
\*------------------------------------*/

.c-block-heading {

    &:after {
        content: '';
        width: 110px;
        height: 1px;
        position: absolute;
        bottom: $global-spacing-unit-small * -1;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-brand-secondary;
    }
}
