/*------------------------------------*\
  #NAV-PRIMARY
\*------------------------------------*/

.c-nav-primary {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    background-color: $color-brand-primary;
    flex-direction: column;
    justify-content: center;

    transition: transform .4s ease-out;

    &.is-active {
        transform: translateX(0);
    }

    @media screen and (min-width: 50em) {
        position: static;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        transform: translateX(0);
        width: initial;
        height: initial;
        padding-left: 0;
        float: right;
        text-align: center;
        padding-left: ($logo-width * .75) + $global-spacing-unit;
        text-align: right;
    }

    @media screen and (min-width: 100em) {
        padding-left: $logo-width + $global-spacing-unit;
    }
}

    .c-nav-primary__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 50em) {
            display: initial;
        }
    }

    .c-nav-primary__item {
        width: 100%;
        margin-bottom: $global-spacing-unit;

        @media screen and (min-width: 50em) {
            width: auto;

            &:first-child {

                .c-nav-primary__link {
                    padding-left: 0;
                }
            }
        }
    }

    .c-nav-primary__link {
        display: inline-block;
        padding-right: $global-spacing-unit;
        padding-left:  $global-spacing-unit;
        @include fluid-type(font-size, 25em, 100em, .875em, .9375em);
        font-weight: 500;
        letter-spacing: 0.015625em;
        text-transform: uppercase;


        &.is-active {
            text-decoration: underline;
            cursor: default;
        }
    }
