/*------------------------------------*\
  #LOGO
\*------------------------------------*/

$logo-width: 10 * $global-spacing-unit;
$logo-height: 10 * $global-spacing-unit;

.c-logo {
    width: $logo-width * .5;
    height: $logo-height * .5;

    @media screen and (min-width: 50em) {
        width: $logo-width * .75;
        height: $logo-height * .75;
    }

    @media screen and (min-width: 100em) {
        width: $logo-width;
        height: $logo-height;
    }
}
